In [41]:
import pandas as pd
import numpy as np

In [42]:
df=pd.read_csv('price_to_int.csv')

In [43]:
df.head()

,Unnamed: 0,name,host_name,latitude,longitude,host_since,host_location,host_acceptance_rate,property_type,room_type,price,minimum_nights,maximum_nights,availability_30,availability_365,number_of_reviews,review_scores_rating
0,0,Lovely private bedroom in Muswell Hill.,Forough,51.597280,-0.139330,2015-07-20,"London, United Kingdom",NaN,Private room in condo,Private room,100,1,365,30,365,0,NaN
1,1,Studio Flat Franklin London,Hussein,51.636518,-0.177475,2023-01-14,"London, United Kingdom",100%,Entire rental unit,Entire home/apt,65,180,365,30,365,0,NaN
2,2,PropertyPlug - 2Bed Flat in Edgware SmartTV WiFi,Paul,51.608180,-0.277400,2020-01-08,NaN,91%,Entire rental unit,Entire home/apt,132,2,28,12,35,0,NaN
3,3,Wimbledon Double Bedroom Ensuite,Nikki,51.422310,-0.188410,2010-08-01,"London, United Kingdom",100%,Private room in rental unit,Private room,100,5,1125,30,365,4,3.67
4,4,Stunning Apartment 2 minutes walk to Tube Station,Joseph,51.602282,-0.193606,2014-12-22,NaN,46%,Entire condo,Entire home/apt,120,5,90,23,337,0,NaN

In [44]:
b=[]

for i in range(len(df)):
    if(type(df['host_since'][i])!=str):
        b.append(i)

In [45]:
b

[4120, 11638, 34176, 34663, 63295]

In [50]:
len(df)

75241

In [52]:
df.drop(b,axis=0,inplace=True)

In [53]:
len(df)

75236

In [54]:
df.reset_index(drop=True, inplace=True)

In [55]:
for i in range(len(df)):
    df['host_since'][i]=2023-int(df['host_since'][i][0:4])

C:\Users\chinm\AppData\Local\Temp\ipykernel_25476\2373500281.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['host_since'][i]=2023-int(df['host_since'][i][0:4])

In [56]:
len(df)

75236